@font-face {
    font-family: "gost1"; 
    src: url("./fonts/GOST_A.TTF") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
body{
    background-color: #202020;
}
.left-panel{
position: absolute;
width: 540px;
height: 1600px;
left: 0px;
top: 0px;
background: #4888B9;
border-radius: 0px 50px 50px 0px;
}
.logo{
position: absolute;
width: 117px;
height: 116px;
right: 365px;
top: 53px;
border-radius: 50%; 
}
h1{
    position: absolute;
width: 284px;
height: 61px;
left: 202px;
top: 30px;
font-family: 'gost1';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 61px;

/* identical to box height */

color: #FFFFFF;

}
.head-p{  
position: absolute;
width: 288px;
height: 28px;
top: 109px;
left: 209px;
font-family: 'gost1';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 28px;
color: #FFFFFF;
}
.palochka{
    position: absolute;
    width: 394.5px;
    height: -1px;
    border: 2px solid rgba(168, 239, 255, 0.5);
    top: 286px;
    left: 67px;
}
.epic-games{
position: absolute;
width: 404px;
height: 48px;
top: 441px;
left: 442px;
cursor: pointer;
}
.epic{
position: absolute;
width: 223px;
height: 48px;
font-family: 'gost1';
font-style: normal;
font-weight: 400;
font-size: 51px;
line-height: 48px;
color: #FFFFFF;
top: -45px;
left: -337px;
}
.anti-virus{
    position: absolute;
    width: 404px;
    height: 48px;
    top: 590px;
    left: 440px;
    cursor: pointer;
    transition: all 1s ease;
    }
    .anti{
    position: absolute;
    width: 223px;
    height: 48px;
    font-family: 'gost1';
    font-style: normal;
    font-weight: 400;
    font-size: 51px;
    line-height: 48px;
    color: #FFFFFF;
    top: -45px;
    left: -337px;
    }
    .minecraft{
        position: absolute;
        width: 404px;
        height: 48px;
        top: 745px;
        left: 440px;
        cursor: pointer;
        }
        .mine{
        position: absolute;
        width: 223px;
        height: 48px;
        font-family: 'gost1';
        font-style: normal;
        font-weight: 400;
        font-size: 51px;
        line-height: 48px;
        color: #FFFFFF;
        top: -45px;
        left: -337px;
        }
        .gta6{
            position: absolute;
            width: 404px;
            height: 48px;
            top: 898px;
            left: 442px;
            cursor: pointer;
            }
            .gt{
            position: absolute;
            width: 223px;
            height: 48px;
            font-family: 'gost1';
            font-style: normal;
            font-weight: 400;
            font-size: 51px;
            line-height: 48px;
            color: #FFFFFF;
            top: -45px;
            left: -337px;
            }
            .steam{
                position: absolute;
                width: 404px;
                height: 48px;
                top: 1048px;
                left: 480px;
                cursor: pointer;
                }
                .ste{
                position: absolute;
                width: 223px;
                height: 48px;
                font-family: 'gost1';
                font-style: normal;
                font-weight: 400;
                font-size: 51px;
                line-height: 48px;
                color: #FFFFFF;
                top: -45px;
                left: -337px;
                }
                .csgo{
                    position: absolute;
                    width: 404px;
                    height: 48px;
                    top: 1199px;
                    left: 442px;
                    cursor: pointer;
                    }
                    .cs{
                    position: absolute;
                    width: 223px;
                    height: 48px;
                    font-family: 'gost1';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 51px;
                    line-height: 48px;
                    color: #FFFFFF;
                    top: -45px;
                    left: -337px;
                    }
                    .windows{
                        position: absolute;
                        width: 404px;
                        height: 48px;
                        top: 1333px;
                        left: 442px;
                        cursor: pointer;
                        }
                        .win{
                            position: absolute;
                            width: 223px;
                            height: 48px;
                            font-family: 'gost1';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 51px;
                            line-height: 48px;
                            color: #FFFFFF;
                            top: -45px;
                            left: -337px;
                            }
                
h3{
    position: absolute;
    width: 966px;
    height: 671px;
    font-family: 'gost1';
    font-style: normal;
    font-weight: 400;
    font-size: 74px;
    line-height: 61px;
    color: #FFFFFF;
    top: 140px;
    left: 621px;
  }
image{
    position: absolute;
width: 920px;
height: 1077px;

background: #4888B9;
border-radius: 89px;
}
#img12{
position: absolute;
width: 920px;
height: 1077px;
/* background: #a4aaaf; */
border-radius: 89px;
left: 1609px;
top: 171px;
}
   a{
    text-decoration: none;
    color: white;
   }
   a:hover{
    color: #202020;
   }
   
   
   
   
